<div class="position-relative overflow-hidden p-md-5 text-center bg-white">
  <div class="col-md-5 p-lg-5 mx-auto">
      <h3 class="display-4 font-weight-bold">Welcome <br>to<br> Docufilm!</h3>
      <p class="lead">ここはあなたが観た映画を記録したり、<br>閲覧したりすることが場所です。<br>会員登録すれば誰でも自由に使うことができます。</p>
  </div>
  <div class="album py-5">
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4 text-center">
            <img class="rounded-circle"><i class="fas fa-edit fa-5x"></i></img>
            <h4 class="font-weight-bold m-3">記録する</h4>
            <p class="lead">あなたが今まで観た映画の感想を自由に投稿できます。<br>
            面白いと感じたら★をつけたり、レビューを書いたりしてみましょう。<br>
            「ひとこと紹介」では、あなたがその映画に感じた率直な思いを書いてみましょう。</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle"><i class="fas fa-search fa-5x"></i></img>
            <h4 class="font-weight-bold m-3">探す</h4>
            <p class="lead">あなたが次に観たい映画はここで探すことができます。<br>
            気になる作品、観たことのない作品がどんなものなのか、レビューや「ひとこと紹介」でぜひ参考にしてみてください。</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle"><i class="fas fa-comment fa-5x"></i></img>
            <h4 class="font-weight-bold m-3">伝える</h4>
            <p class="lead">記録した映画のレビューは誰でも見ることができます。<br>
            おすすめの映画をあなた自身の言葉でたくさんの人に紹介してみましょう！</p>
        </div>
      </div>
    </div>
  </div>
</div>